
.scroller::-webkit-scrollbar{
    height: 7px;
    background-color: transparent ;
}

.scroller::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to right , black , white );
    border-radius: 60px;
}
